﻿/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: px) {
    .jumbotron {
        margin-top: 0;
        background-color: white;
    }
    .body-content {
        padding: 0;
    }
}

/* Notification Messages */

.alert_info
{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 4px 10px 4px 10px;
    background-color: #99CCFF;
}

.alert_excl
{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 4px 10px 4px 10px;
    background-color: #FFEC86;
}

.alert_crit
{
    font-size: 15px;
    font-weight: bold;
    color: #FFFF00;
    padding: 4px 10px 4px 10px;
    background-color: #CC0000;
}